<template name="filter">
    <div class="container">
        <form class="form-inline">
            <legend>Фильтровать:</legend>
                <div class="form-group">
                    <label for="lecturerFilter">Преподаватель</label>
                    <input class="form-control" type="text" id="lecturerFilter" name="lecturerFilter" value="{{prevLecturer}}" placeholder="ФИО преподавателя...">
                </div>
                <div class="form-group">
                    <label for="groupFilter">Группа</label>
                    <input class="form-control" type="text" id="groupFilter" name="groupFilter" value="{{prevGroup}}" placeholder="Название группы...">
                </div>
            <button class="btn btn-primary" id="doFilter"><i class="glyphicon glyphicon-filter"></i>Фильтровать</button>
            <button class="btn btn-danger" id="resetFilter"><i class="glyphicon glyphicon-remove"></i>Снять фильтр</button>
        </form>
    </div>
</template>

<template name="schedulesForm">
    <div class="container pull-left">
        {{#autoForm collection="schedules" id="insertScheduleForm" type="insert"}}
            <legend>Добавить расписание:</legend>
            <fieldset>
                {{> afQuickField name='weeknumber' }}
                {{> afQuickField name='weekday' }}
                {{> afQuickField name='pair' }}
                {{> afQuickField name='subject.title' options=subjectsSh label="Предмет" }}
                {{> afQuickField name='room.building' options=roomsSh label="Аудитория"}}
                {{> afQuickField name='lecturer.fio' options=lecturersSh label="Преподаватель"}}
                {{> afQuickField name='group.name' options=groupsSh label="Группа"}}
            </fieldset>
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> Добавить
            </button>
        {{/autoForm}}
    </div>
</template>

<template name="listSchedules">
    {{> filter}}
    {{#if  isInRole 'redactor'}}
        {{> autoformModals}}
    {{/if }}
    <h2>Расписание:</h2>
    <div class="container">
        <table class="table table-striped table-bordered table-hover" id='groups'>
            <thead>
                <tr>
                    <th>Номер недели</th>
                    <th>День недели</th>
                    <th>Номер пары</th>
                    <th>Предмет</th>
                    <th>Аудитория</th>
                    <th>Преподаватель</th>
                    <th>Группа</th>
                    {{#if  isInRole 'redactor'}}
                        <th colspan="2">Действия</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{#each schedule}}
                <tr>
                    <td>
                        {{weeknumber}}
                    </td>
                    <td>
                        {{weekday}}
                    </td>
                    <td>
                        {{pair}}
                    </td>
                    <td>
                        {{subject.title}}
                    </td>
                    <td>
                        {{room.number}} - {{room.building}}
                    </td>
                    <td>
                        {{lecturer.fio}}
                    </td>
                    <td>
                        {{group.name}}
                    </td>
                    {{#if  isInRole 'redactor'}}
                        <td>{{#quickRemoveButton
                                collection="schedules"
                                _id=this._id
                                class="btn btn-danger"
                            }}
                                <i class="fa fa-md fa-remove"></i>
                                Удалить
                            {{/quickRemoveButton}}</td>
                        <td>
                            {{#afModal
                                class="btn btn-primary"
                                collection="schedules"
                                formId="updateScheduleForm"
                                operation="update"
                                labels="pair, subject, room, lecturer, group"
                                doc=_id
                                buttonContent="Сохранить"
                                title="Редактировать запись"
                                buttonClasses="btn btn-success"
                            }}
                                <i class="fa fa-md fa-edit"></i>
                                Редактировать
                            {{/afModal}}
                        </td>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{#if  isInRole 'redactor'}}
        {{> schedulesForm }}
    {{/if}}
</template>
