<template name="chairsForm">
    <div class="container pull-left">
        {{#autoForm collection="chairs" id="insertChairForm" type="insert"}}
            <legend>Добавить кафедру:</legend>
            <fieldset>
                {{> afQuickField name='title'}}
            </fieldset>
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> Добавить
            </button>
        {{/autoForm}}
    </div>
</template>

<template name="listChairs">
    {{> autoformModals}}
    <h2>Кафедры:</h2>
    <div class="container pull-left">
        <table class="table table-striped table-bordered table-hover" id='chairs'>
            <thead>
                <tr>
                    <th>Название кафедры</th>
                    <th colspan=2>Действия</th>
                </tr>
            </thead>
            <tbody>
                {{#each chairs}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{#quickRemoveButton
                            collection="chairs"
                            _id=this._id
                            class="btn btn-danger"
                        }}
                            <i class="fa fa-md fa-remove"></i>
                            Удалить
                        {{/quickRemoveButton}} </td>
                    <td>
                        {{#afModal
                            class="btn btn-primary"
                            collection="chairs"
                            id="updateChairForm"
                            operation="update"
                            doc=_id
                            buttonContent="Сохранить"
                            title="Редактировать запись"
                            buttonClasses="btn btn-success"
                        }}
                            <i class="fa fa-md fa-edit"></i>
                            Редактировать
                        {{/afModal}}
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
    <br />
    {{> chairsForm }}
</template>
