<template name="roomsForm">
    <div class="container pull-left">
        {{#autoForm collection="rooms" id="insertRoomForm" type="insert"}}
            <legend>Добавить аудиторию:</legend>
            <fieldset>
                {{> afQuickField name='number' }}
                {{> afQuickField name='building' }}
            </fieldset>
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> Добавить
            </button>
        {{/autoForm}}
    </div>
</template>


<template name="listRooms">
    {{> autoformModals}}
    <h2>Аудитории:</h2>
    <div class="container">
        <table class="table table-striped table-bordered table-hover" id='lecturers'>
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Корпус</th>
                    <th colspan="2">Действия</th>
                </tr>
            </thead>
            <tbody>
                {{#each rooms}}
                <tr>
                    <td>{{number}}</td>
                    <td>{{building}}</td>
                    <td>{{#quickRemoveButton
                            collection="rooms"
                            _id=this._id
                            class="btn btn-danger"
                        }}
                        <i class="fa fa-md fa-remove"></i>
                            Удалить
                        {{/quickRemoveButton}}
                    </td>
                    <td>
                        {{#afModal
                            class="btn btn-primary"
                            collection="rooms"
                            formId="updateRoomForm"
                            operation="update"
                            doc=_id
                            buttonContent="Сохранить"
                            title="Редактировать запись"
                            buttonClasses="btn btn-success"
                        }}
                            <i class="fa fa-md fa-edit"></i>
                            Редактировать
                        {{/afModal}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{> roomsForm }}
</template>
